@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 0 0 100%;
  --font-color: 0 0 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: 0 0 10%;
    --font-color: 0 0 100%;
  }
}

html {
  font-family: sans-serif;
}

body {
  background-color: hsl(var(--background-color));
  color: hsl(var(--font-color));
}
